/*
* @Author: wang
* @Date:   2017-04-13 20:04:33
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-13 20:16:41
*/
body{font-size:16px;}
.bluep{font-size:12px;color:blue;}
#blackp{color:black;}
p,a{color:green;}